[Unit]
Description=sing-box-yg health check every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
RandomizedDelaySec=30s
Persistent=true
Unit=sing-box-yg-health.service

[Install]
WantedBy=timers.target
